/* Estilo para el cuerpo y los márgenes */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
header {
    background-color: #2cb833;
    color: #fff;
    text-align: center;
}

header nav ul li a {
    text-decoration: none; 
    font-weight: bold; 
    color: #333; 
    transition: color 0.3s; 
}

header nav ul li a:hover {
    color: #5b96c7; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.checkbox-group {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
}

.checkbox-item {
    display: flex; 
    align-items: center; 
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
